h3 {
    margin: 40px 0 0;
}

.big-table-container {
    width: 500px;
    height: 300px;
    position: relative;
    overflow: scroll;
}


.big-table-inner {
    background: #378f62;
}


.big-table-ruler-y,
.big-table-ruler-x {
    display: flex;
    position: absolute;
    z-index: 1;
    background: darkgrey;
    box-sizing: border-box;
    font-size: 12px;
    transition: 0.4s all;
}

.big-table-ruler-y {
    writing-mode: vertical-rl;
    text-orientation: upright;
}

.big-table-ruler-x {
}


.big-table-ruler-top-item {
    border-right: 1px solid white;
    box-sizing: border-box;
}


ul {
    font-size: 11px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    list-style-type: none;
    padding: 0;
    margin: 0;
    position: relative;
}


