h3 {
    margin: 40px 0 0;
}

.big-table-wrapper {
    display: flex;
}


.big-table-container {
    width: 500px;
    height: 300px;
    position: relative;
    overflow: scroll;
}


.big-table-inner {
    background: #378f62;
}


ul {
    font-size: 11px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    list-style-type: none;
    padding: 0;
    margin: 0;
    position: relative;
}


